<div>
    <h1>CV</h1>
    <h2>Name: Boryslav</h2>
    <h2>Surname: Linchevsky</h2>
    <h2>Age: 20+</h2>
    <h2>Number: 0677777777</h2>
    <h2>Email: asdasdasdmail.com</h2>
    <h2>City: Odessa</h2>
    <h2>Work experience :</h2>
    <app-work-time></app-work-time>
    <h2>Skills: </h2>
    <app-skills></app-skills>
    <h2>Photo: </h2>
    <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg" style="height: 50px; width: 50px;"/>
    <h2>Links: </h2>
    <app-links></app-links>
</div>